---
layout: default
title: Brandon &amp; Jane
active_menu: gallery
---

<!-- BEGIN .title-block -->
<div class="title-block">
  <h2>Our Photo Gallery</h2>

  <div class="clear-float"></div>
  <!-- END .title-block -->
</div>

<div class="single-content">

  {% for gallery in site.data.galleries %}
  <div class="photo-gallery-block">
    <div class="photo-gallery-photos">

      <div class="paragraph-row">
        <div class="column5">
          <a href="{{ gallery.link_target }}" class="border-image"><img src="{{ gallery.big_image }}" alt="" /></a>
        </div>
        <div class="column7">

          <div class="paragraph-row">
            {% for tr_photo in gallery.top_row_photos %}
            <div class="column4">
              <a href="{{ gallery.link_target }}" class="border-image"><img src="{{ tr_photo.src }}" alt="" /></a>
            </div>
            {% endfor %}
          </div>

          <div class="paragraph-row">
            {% for br_photo in gallery.bottom_row_photos %}
            <div class="column4">
              <a href="{{ gallery.link_target }}" class="border-image"><img src="{{ br_photo.src }}" alt="" /></a>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>

    </div>
    <div class="photo-gallery-content">
      <h3><a href="{{ gallery.link_target }}">{{ gallery.title }}</a></h3>
      <p>{{ gallery.teaser }}</p>
      <p><a href="{{ gallery.link_target }}" class="button">View all Photos<i class="fa fa-caret-right right"></i></a></p>
    </div>
  </div>
  {% endfor %}

  <!-- <div class="pagination">
    <a href="#" class="prev page-numbers"><i class="fa fa-caret-left"></i></a>
    <a href="#" class="page-numbers">1</a>
    <a href="#" class="page-numbers current">2</a>
    <a href="#" class="page-numbers">3</a>
    <a href="#" class="page-numbers">4</a>
    <a href="#" class="page-numbers">6</a>
    <a href="#" class="next page-numbers"><i class="fa fa-caret-right"></i></a>
  </div> -->

</div>
