<!-- Stylesheets -->
<link type="text/css" rel="stylesheet" href="css/reset.css" />
<link type="text/css" rel="stylesheet" href="css/main-stylesheet.css" />
<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="css/lightbox.css" />
<link type="text/css" rel="stylesheet" href="css/shortcodes.css" />
<link type="text/css" rel="stylesheet" href="css/custom-fonts.css" />
<link type="text/css" rel="stylesheet" href="css/custom-colors.css" />
<link type="text/css" rel="stylesheet" href="css/responsive.css" />
<link type="text/css" rel="stylesheet" href="css/layerslider.css" />
<link type="text/css" rel="stylesheet" href="css/flexslider.css" />
<!--[if lt IE 9]>
	<script src="jscript/html5.js"></script>
<![endif]-->
<!--[if lte IE 8]>
<link type="text/css" rel="stylesheet" href="css/ie-ancient.css" />
<![endif]-->

<!-- Demo Only -->
<!-- <link type="text/css" rel="stylesheet" href="css/demo-settings.css" /> -->
<style type="text/css">
	.flexslider {
		margin-bottom: 10px;
	}
	.flex-caption {
		padding: 10px;
	}
	#carousel .slides > li {
		margin: 5px;
	}
</style>